.projectcard{
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;

}
.projectcard h1{
    text-align: center;
    margin: 20px;
    color: chartreuse;
}
.card-container{
    /* max-width: 1140px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
}
.card{
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;
}
.card:hover{
    background-color: #141414;
    box-shadow: 2px 1px 8px white;
    transition: all 0.4s ease-in-out;
}
.card p{
    padding: 10px 3px;
    text-align: left;
    font-size: 13px;
    color: bisque;
}
.card h3{
    font-size: 1.4rem;
    padding: 1rem;
}
.bar{
    /* border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
    grid-template-columns:1fr ; */
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,12), 0,1px,2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
    
    background-color: rgb(128, 217, 76);
}
.bar span{
    height: 15px;
    float: right;
}
.cplus{
    background-color: #353b48;
  /* transform: scaleX(0);
  -webkit-transform-origin: left; */
  /* transform-origin:left;
  -webkit-animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  transition : 1s all */
}
.btc{
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0;
}

@media screen and  (max-width:740px){
    .card-container{
        max-width: 90%;
        margin: auto;   
        grid-template-columns: 1fr;
       
    }
    
}